#nav-link-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

span{
    font-weight: bold;
    flex: none;
}

a {
    color: gray;
    text-decoration: none;
    user-select: none;
}
a:hover {
    color: rgb(200, 200, 200);  
}
.focused{
    color: white !important;
}

.separator {
    color: lightgray;
    user-select: none;
}
