:host {
    position: fixed;
    width: 100%;
    top: 90vh;
    left: 25%;
    height: 5vh;
    z-index: 3;
}

#nav-link-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background:
        linear-gradient( rgba(0,0,0,.5), rgba(20,20,20, .8), rgba(0,0,0,.5));
    padding: 0px 3% 0px 3%;
}

span{
    font-weight: bold;
    flex: none;
}

a {
    color: gray;
    text-decoration: none;
    user-select: none;
}
a:hover {
    color: rgb(200, 200, 200);  
}
.focused{
    color: white !important;
}

.separator {
    color: lightgray;
    user-select: none;
}

.scroller {
    position: fixed;
    width: 5px;
    border-radius: 3px;
    height: 30px;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    background:
        radial-gradient(white, black);
    transition: opacity 1s ease-out;
}

.fadeIn {
    opacity: 1;
}

.fadeOut{
    opacity: 0;
}


@media only screen and (max-width: 480px) {
    :host {
        left: 2%;
    }

    #nav-link-container {
        width: 85%;
        padding: 0px 6% 0px 6%;
        height: 150%;
    }
}