/* ============================================================================================== 
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
}

.stars {
  background:#000 url('/assets/stars.png') repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url('/assets/twinkling.png') repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 750s linear infinite;
  -ms-animation:move-twink-back 750s linear infinite;
  -o-animation:move-twink-back 750s linear infinite;
  -webkit-animation:move-twink-back 750s linear infinite;
  animation:move-twink-back 750s linear infinite;
}

.backdrop {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: -1;
}