.title {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 50px;  
    font-style: bold;
}

.youtube {
    position: absolute;
    top: 22%;
    background-color: black;
    width: 800px;
    height: 450px;
}

.available {
    position: absolute;
    top: 75%;
    font-size: 20px;
    color: white;
}

.platforms {
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-button {
    max-width: 200px;
    object-fit: contain;
}

.backdrop {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.header {
    height: 5%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.logo, .back-arrow {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;   
    background-color: transparent;
    height: 100%;
}

.back-arrow {
    position: relative;
    height: 75%;
    width: 50%;
    max-width: 37px;
    background-image: url('/assets/back-arrow.png'); 
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
}

.spacer {
    position: relative;
    width: 33%
}

.logo {
    width: 50%;
    background-image: url('/assets/logo-oneline.png');
    background-position: center;
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .title {
        top: 10%;
        font-size: 25px;
    }

    .youtube {
        width: 95%;
        height: 35%;
        top: 25%;
    }

    .platforms {
        top: 73%;
        height: 20%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .available {
        top: 70%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 760px) {
    .title {
        top: 10%;
        font-size: 25px;
    }

    .back {
        display: none;
    }

    .youtube {
        width: 95%;
        height: auto;
        top: 25%;
    }

    .platforms {
        top: 73%;
        height: 20%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .available {
        top: 70%;
        font-size: 15px;
    }
}