<div class='backdrop' [style.background-image]="'url(' + game.backdropImageUrl + ')' || 'none'"> </div>

<div class='header'>
    <div class='spacer'>
        <div class='back-arrow' [routerLink]="['']"></div>
    </div>
    <div class='spacer'>
        <div class='logo' [routerLink]="['']"></div>
    </div>   
    <div class='spacer'></div>
</div>

<div class='details-container'>
  <div class='title' [ngStyle]="game.style">{{game.name}}</div>
  <div class='youtube-container'>
    <iframe class='youtube' [src]="getTrailerUrl()"></iframe>
  </div>
  <div class='available' [ngStyle]="game.style">{{game.availability}}</div>
  <div class='platforms'>
      <a *ngFor='let type of types' [href]='type.url'>
          <img [src]='type.imageUrl' class='store-button'>
      </a>
  </div>
</div>


